*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* font-family: 'Fraunces', serif;font-family: 'Montserrat', sans-serif;font-family: 'Ubuntu', sans-serif; */


body{
  font-family: 'Montserrat', sans-serif;
  background-color: hsl(30, 38%, 92%);
  font-size: 14px;
  display: flex;
  align-items: center;
}

.container{
  margin: 30px auto ;
  padding: 0 30px;
}


.grid{
  max-width: 700px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
}

img.img{
  max-width: 100%;
  display: inherit;
}

.product{
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

h6{
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 13px;
  color: hsl(228, 12%, 48%);
  font-weight: 500;
}

h2{
  font-family: 'Fraunces', serif;
  font-size: 34px;
  line-height: 1em;
  color: hsl(212, 21%, 14%);
}

p.content{
  color: hsl(228, 12%, 48%);
  line-height: 1.6em;
}

.cp{
  font-family: 'Fraunces', serif;
  color: hsl(158, 36%, 37%);
  font-size: 25px;
}

.op{
  color: hsl(228, 12%, 48%);
  text-decoration: line-through;
  padding-left: 30px;
}

.price{
  display: flex;
  align-items: center;
}

.cta{
  background-color: hsl(158, 36%, 37%);
  border: none;
  padding: 12px 0;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  transition: background-color .5s ease;
}

button.cta:hover{
  background-color: hsl(158, 36%, 17%);
}

.cta img{
  padding-right: 7px;
}

@media only screen and (max-width:628px){
  .grid{
    grid-template-columns: 1fr;
  }
  .img{
    max-height: 450px;
    width: 100%;
    object-fit: cover;
  }
  .product{
    /* display: block; */
  }
  h2,h6,p.content,.price{
    padding-bottom: 23px;
  }
}

@media only screen and (max-width:375px){
  .container{
    margin: 15px auto;
    padding: 0 15px;
  }

  .img{
    max-height: 270px;
  }

  .prouduct{
    padding: 22px;
  }

  h2,h6,p.content,.price{
    padding-bottom: 16px;
  }
  h2{
    font-size: 30px;
  }
  p.content{
    font-size: 13.5px;
  }
}
